.message {
	position: relative;
	background-color: #EAEAEA;
	height: 100%;
}

.bottombar {
	height: 10%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bb_input {
	float: left;
	width: 80%;
	margin: 6px 0 6px 6px;
	height: 60%;
	font-size: 20px;
}

.bb_submit {
	float: right;
	margin: 8px 6px 0 0;
	width: 14%;
	height: 60%;
}

.msg_list {
	height: 90%;
	width: 100%;
	position: relative;
}

.msg_list_body {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.react-scrollable-list {
	overflow-y: scroll;
	height: 100%;
}

.react-scrollable-list-item {
	height: 30px;
	margin: 5px;
	background-color: white;
}