.tab {
	display: inline-block;
	height: 100%;
}

.tab_a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	color: #EBEBEB;
}

.tab_a:hover .icon{
	transform: scale(1.2, 1.2);
}

.icon_title {

}

.icon {
	transition: 0.5s;
}